:root{
    --gradient:  linear-gradient(to right, #e80033, #f9a852, #f69653, #f38654, #f07654, #ed6856, #ef5956, #ee4c58, #56c1ab);
  }
  *{
    box-sizing: border-box;
  }
  body{
    background: beige;
    background-image: var(--gradient);
    background-size: 400%;
    animation: fondo-anim 10s infinite alternate;
  }
  @keyframes fondo-anim{
    0%{background-position: left;} 
    100%{background-position: right;}
  }
#verbs-container{
    margin: 0 35%;
}
.verbs-answer{
    display: block;
}
#next{
    margin-top: 8rem;
    cursor: pointer;
    color: green;
}
.rigthAnsers, .rightAnswer:hover{
    background-color: #6ab04c;
    border-color: #6ab04c;
    color: #fff;
}
.wrongAnsers, .wrongAnswer:hover{
    background-color: #b33030;
    border-color: #b33030;
    color: #fff;
}
#showVerb{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
#repeatAudio{
    padding: 0; 
    border: none; 
    background: none;
    width: 30px;
    height: 30px;
    display: none;
}
#all-right-answers{
    color: white;
}
#all-wrong-answers{
    color: white;
}
#first-verb, #second-verb, #third-verb, #fourth-verb{
    border-radius: 30px;
    box-shadow: 5px 5px rgba(31, 31, 31, 0.5);
}

